@model IEnumerable<CC_SchoolProject_ASP.CCModels.Learner>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1><u>Learners</u></h1>
    <br />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>

            </tr>

        }
    </tbody>
</table>

<body>
    <section>

        <div class="container">

            <br />

            <div class="row">

                <div class="col text-start">
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Create", "AdminLearners")'">Create New Learner</button>
                </div>

                <div class="col text-end">
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "AdminTeach")'">Go Back</button>
                </div>

            </div>

            <br />

        </div>

    </section>
</body>
